<div class="hero-unit">
  <h1>Molarity</h1>
  <h3>Enjoy chemistry! - Molar.io</h3>
  <h4>What do you want to calculate?</h4>
    
  <div ng-controller="MainCtrl">
    <form ng-app="molarityApp" class="form-horizontal" ng-submit="submitForm()">
<!--       <div class="well">{{radioValue}}</div> -->
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="radioValue" value="selectMolarity" btn-radio="'selectMolarity'">Molarity</button>
        <button type="button" class="btn btn-primary" ng-model="radioValue" value="selectMass" btn-radio="'selectMass'">Mass</button>
        <button type="button" class="btn btn-primary" ng-model="radioValue" value="selectMw" btn-radio="'selectMw'">Molecular Weight</button>
        <button type="button" class="btn btn-primary" ng-model="radioValue" value="selectVolume" btn-radio="'selectVolume'">Volume</button>
      </div>
   
    <br>
    <br>
    <div class="control-group">
     <label class="control-label" for="molarityfield">Molarity</label>
     <div class="controls">
        <input id="molarityfield" type="text" ng-model= "knownMolarity" ng-disabled="{{isDisabled('selectMolarity')}}">
        
     <select class="span1" ng-model="molarityUnit">
       <option value="1">M</option>
       <option value="0.001">mM</option>
       <option value="0.000001">µM</option>
       <option value="0.000000001">nM</option>
       <option value="0.000000000001">pM</option>
     </select>

     </div>
    </div>
    
    <div class="control-group">
     <label class="control-label" for="massfield">Mass</label>
     <div class="controls">
       <input id="massfield" type="text" ng-model= "knownMass">
       <select class="span1" ng-model="massUnit">
         <option value="1">g</option>
         <option value="0.001">mg</option>
         <option value="0.000001">µg</option>
         <option value="0.000000001">ng</option>
       </select>
     </div>
    </div>
    
    <div class="control-group">
     <label class="control-label" for="mwfield">Molecular Weight</label>
     <div class="controls">
       <input id="mwfield" type="text" ng-model= "knownMw"> g/mol
     </div>
    </div>
    
    <div class="control-group">
     <label class="control-label" for="volumefield">Volume</label>
     <div class="controls">
       <input id="volumefield" type="text" ng-model= "knownVolume">
       <select class="span1" ng-model="volumeUnit">
         <option value="1">L</option>
         <option value="0.001">mL</option>
         <option value="0.000001">µL</option>
         <option value="0.000000001">nL</option>
       </select>
        
     </div>
    </div>
    
    <!--     <input type="submit" value="Add" class="btn btn-success"> -->
  </form>
  <div class="well">
      {{calculation()}}
  </div>
</div>
</div>
