<div class="hero-unit">
  <h1>Molarity</h1>
  <h3>Enjoy chemistry! - Molar.io</h3>
  <h4>What do you want to calculate?</h4>
    
  <div ng-controller="MainCtrl">
    <form class="form-horizontal" ng-submit="submitForm()">
<!--       <div class="well">{{radioValue}}</div> -->
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="radioValue" value="selectMolarity" btn-radio="'selectMolarity'">Molarity</button>
        <button type="button" class="btn btn-primary" ng-model="radioValue" value="selectMass" btn-radio="'selectMass'">Mass</button>
        <button type="button" class="btn btn-primary" ng-model="radioValue" value="selectMw" btn-radio="'selectMw'">Molecular Weight</button>
        <button type="button" class="btn btn-primary" ng-model="radioValue" value="selectVolume" btn-radio="'selectVolume'">Volume</button>
      </div>
   
    <br>
    <br>
    <div class="control-group">
     <label class="control-label" for="molarityfield">Molarity</label>
     <div class="controls">
        <input id="molarityfield" type="text" ng-model= "knownMolarity"> {{knownMolarity}}
     </div>
    </div>
    
    <div class="control-group">
     <label class="control-label" for="massfield">Mass</label>
     <div class="controls">
        <input id="massfield" type="text" ng-model= "knownMass"> {{knownMass}}
     </div>
    </div>
    
    <div class="control-group">
     <label class="control-label" for="mwfield">Molecular Weight</label>
     <div class="controls">
        <input id="mwfield" type="text" ng-model= "knownMw"> {{knownMw}}
     </div>
    </div>
    
    <div class="control-group">
     <label class="control-label" for="volumefield">Volume</label>
     <div class="controls">
        <input id="volumefield" type="text" ng-model= "knownVolume"> {{knownVolume}}
     </div>
    </div>
    
    <!--     <input type="submit" value="Add" class="btn btn-success"> -->
  </form>
  <div class="well">
      {{calculation()}}
    </div>
    

  <ul class="unstyled">
    <li ng-repeat="entry in entries">    
    <button ng-click="deleteEntry($index)" id = "{{entry.id}}" class="close">&times;</button>
    {{entry.name}}
    <span ng-show="entry.winner" ng-class="{'label label-important': entry == lastWinner, label: entry != lastWinner}">WINNER</span>
    </li>
  </ul>
  
  <!--
<button ng-click="calcMass()" class="btn btn-primary">Mass</button>
  <button ng-click="calcMolarity()" class="btn btn-primary">Molarity</button>
  <button ng-click="calcVolume()" class="btn btn-primary">Volume</button>
  <button ng-click="calcMW()" class="btn btn-primary">Molecular  Weight</button>
-->
</div>
</div>
